*{
    font-family: 'Fredoka', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 1203px;
    height: 708px;
    margin: 3rem auto;
}
.title{
    color: rgb(15, 13, 134);
    font-size: 64px;
    text-align: center;
    padding-top: .2rem;
    padding-bottom: 2rem;
}
.paragraph{
    text-align: center;
    font-size: 25px;
}
.box{
    height: 100px;  
    width: 300px;
    margin: 5rem 0 0 5rem;
    background-color: black;
    box-shadow: 12px 12px 2px 1px rgb(255, 0, 0);
    color: black;
}
img{
    height: 100px;
    width: auto;
    float: left;
}
article.box{
    float: left;
}
h1.name{
    display: inline-block;
    vertical-align: top;
    padding-top: 0.5rem;
    font: 'Fredoka One', sans-serif;
    color: white;
    margin-left: 0.3rem;
    text-align: center;
}
p.job{
    display: inline-block;
    vertical-align: auto;
    color: white;
    font-size: smaller;
    padding-top: 0.5rem;
    margin-left: 0.3rem;
}
a.email{
    color: rgb(16, 101, 230);
    padding-top: 0.5rem;
    font-size: 1.1rem;
    margin-left: 0.3rem;
    text-align: center;
}
